body {
    background-color: #A8BCD1;
    margin: 0;
    padding: 0;
    border: 1px solid green; /* development only */
}

nav {
    border: 1px solid red; /* development only */
}

#navbar-logo {
    font-size: xx-large;
}

.navbar ul {
    flex-direction: row;
}

.navbar ul li {
    padding-right: 0.7rem;
    padding-left: 0.7rem;
}

.navbar-brand a {
    text-decoration: none;
}

footer {
    border: 1px solid blue; /* development only */
}

#post-feed {
    border: 1px solid yellow; /* development only */
}

.post-card {
    margin-bottom: 3%;
    border: 1px solid purple; /* development only */
}

.post-card-body {
    border: 1px solid cyan; /* development only */
}

#body-row {
    margin: 0;
    padding: 0;
    justify-content: left;
    border: 1px solid gold; /* development only */
}

#category-col {
    justify-content: left;
    border: 1px solid red; /* development only */
}

.container-fluid {
    padding: 0;
    justify-content: right;
}

#create_post_row {
    justify-content: center;
}

#post-detail-row {
    justify-content: center;
    margin-top: 3%;
    margin-bottom: 3%;
}

#post-detail-col {
    background-color: #B0C3D5;
    padding: 15px
}