body {
    background-color: #5CDB95;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    overflow-x: hidden;
    padding: 0;    
}

nav {
    background-color: #379683;
    color: #EDF581;
}

footer {
    background-color: #379683;    
    font-weight: bold;
}

footer p {
    color: #EDF581;
    padding-top: 5px;
}

h3, h4, h5, h6, #navbar-logo {
    font-weight: bold;
}

.navbar ul {
    flex-direction: row;
}

.navbar ul li {
    font-weight: bold;
    padding-right: 0.7rem;
    padding-left: 0.7rem;
}

.navbar ul li a, #navbar-logo {
    color: #EDF581;
}

.navbar-brand a {
    text-decoration: none;
    color: inherit;
}

.navbar-brand a:hover {
    color: #8EE4AF;
}

.auth-button {
    background-color: #379683;
    color: #EDF581;
    font-weight: bold;
}

.post-card {
    color: #EDF5E1;
    background-color: #379683;
    margin-bottom: 3%;
    padding: 1%;
}

.post-card-body a {
    color: #EDF5E1;
    text-decoration: none;
}

.post-card-body a:hover {
    color: #05386B;
}

.container-fluid {
    padding: 0;
    justify-content: right;
}

.card-body {
    margin-top: 2%;
}

.col-sm-12 p {
    color: #EDF581;
}

.btn {
    margin-top: 1%;
    margin-bottom: 1%;
}

.btn-warning a {
    text-decoration: none;
    color: black;
}

.form-control {
    width: 220px;
}

#header-container {
    margin-bottom: 10px;
}

#navbar-logo {
    font-size: xx-large;
    padding-left: 1%;
}

#body-row {
    margin: 0;
    padding: 0;
    justify-content: left;
}

#body-row button {
    background-color: #379683;
    color: #EDF581;
    font-weight: bold;
}

#create_post_row {
    justify-content: center;
}

#post-detail-row {
    justify-content: center;
    margin-top: 3%;
    margin-bottom: 3%;
}

#post-detail-col {
    color: #EDF5E1;
    background-color: #379683;
    padding: 15px
}

#post-detail-col button {
    background-color: #EDF581;
    color: #379683;
    font-weight: bold;
}

#post-buttons button {
    margin-left: 5px;
}

#category-list-container {
    list-style-type: none;
    padding: 0;
}

#category-list-container li {
    margin-top: 1%;
}

#category-list-container li a {
    color: #EDF581;
    text-decoration: none;
}

#category-list-container li a:hover {
    color: #379683;
}

#footer-container, .post-card, #header-container, #post-detail-col {
    border-color: #454645!important;
}

/* Custom scrollbar adapted from https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp */
::-webkit-scrollbar {
    width: 15px;
}
  
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
}
  
::-webkit-scrollbar-thumb {
    background: #EDF581;
}

/* Media queries for category list iteration */
@media screen and (min-width:367px){

	.narrow-results {
        display: block;
    }
    
}

@media screen and (max-width:367px){
	
    .narrow-results {
        display: none;
    }

}

@media screen and (min-width:768px){

    .narrow-results {
        height: 100%;
    }

    .form-control {
        width: 70%;
    }

}

@media screen and (max-width:768px){

    /* .form-control {
        width: 70%;
    } */

}