{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}
<div class="row" id="create_post_row">
    <div class="col-9">
        {% if user.is_authenticated %}

        <h3>Create a Post</h3>
        <p>Posting as: {{ user.username }}</p>
        <form method="POST" action="{% url 'add_post' %}">
            {{ post_form | crispy }}
            {% csrf_token %}
            <button type="submit" class="btn">Submit Post</button>
        </form>

        {% else %}

        <h3>Please login or signup to create a post.</h3>
        
        {% endif %}
    </div>
</div>
{% endblock %}