{% extends 'base.html' %}

{% block content %}

<div class="row" id="body-row">
    <div class="col-md-3" id="category-col">
        <p><strong>Categories:</strong></p><br>
        {% for category in category_list %}
        <p><a href="{% url 'filtered_list' category.category_id %}"><strong>{{ category.name }}</strong></a></p>
        {% endfor %}
        <br>
        <p><a href="{% url 'home' %}"><strong>Reset Filter</strong></a></p>
    </div>

    <div class="col-md-9">
        {% for post in post_list %}
        {% if post.status == 1 %}
        <div class="col-12 col-md-9">
            <div class="post-card">
                <div class="post-card-body">
                    <h4>{{ post.title }}</h4>
                    <p>Posted by: <em>"{{ post.author }}"</em> | <strong>{{ post.category }}</strong></p>
                    <p>{{ post.content | safe | slice:":300"}}</p>
                    <p><strong><a href="{% url 'post_detail' post.post_id %}">View More...</a></strong></p>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>

    <!-- standard Django pagination -->
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" 
                class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" 
                class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

{% endblock %}