{% extends 'base.html' %}

{% block content %}

<div class="row" id="body-row">
    <div class="col-md-3" id="category-col">
        <p><strong>Categories:</strong></p><br>
        {% for category in category_list %}
        <p><a href="filtered/{{ category.category_id }}"><strong>{{ category.name }}</strong></a></p>
        {% endfor %}
    </div>

    <div class="col-md-9">
        {% for post in post_list %}
        {% if post.status == 1 %}
        <div class="col-12 col-md-9">
            <div class="post-card">
                <div class="post-card-body">
                    <h4>{{ post.title }}</h4>
                    <p>Posted by: <em>"{{ post.author }}"</em> | <strong>{{ post.category }}</strong></p>
                    <p>{{ post.content | safe | slice:":300"}}</p>
                    <p><strong><a href="post_detail/{{ post.post_id }}">View More...</a></strong></p>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock %}