{% extends 'base.html' %}

{% block content %}

<div class="row" id="post-detail-row">
    <div class="col-10 border border-secondary rounded" id="post-detail-col">
        <h3>{{ data.title }}</h3>
        <p>Posted by: <em>{{ data.author }}</em></p>
        <p>{{ data.content | safe }}</p>
        {% if data.author == request.user %}
        <div id="post-buttons" class="d-flex justify-content-end">
            <button type="button" class="btn btn-warning">Edit</button>
            <button type="button" class="btn btn-danger"><a href="delete/">Delete Post</a></button>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}